<p>dance works!</p>

<mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-title> Bachata</mat-card-title>
      <mat-card-subtitle>Latin</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>
      <button mat-button>Learn More</button>
    </mat-card-actions>
  </mat-card>
  <br>
  <mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-title>Salsa</mat-card-title>
      <mat-card-subtitle>Latin</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions align="end">
      <button mat-button>Learn More</button>
    </mat-card-actions>
  </mat-card>