<mat-grid-list cols="3">
    <mat-grid-tile>
        <mat-card class="card" appearance="raised">
            <mat-card-header>
                <mat-card-title> Bachata</mat-card-title>
                <mat-card-subtitle>Latin</mat-card-subtitle>
            </mat-card-header>
            <mat-card-actions>
                <button mat-button>Learn More</button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="card" appearance="raised">
            <mat-card-header>
                <mat-card-title> Cumbia</mat-card-title>
                <mat-card-subtitle class="subtitle">Latin</mat-card-subtitle>
            </mat-card-header>
            <mat-card-actions>
                <button mat-button>Learn More</button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="card" appearance="raised">
            <mat-card-header>
                <mat-card-title class="title">Kizomba</mat-card-title>
                <mat-card-subtitle>African</mat-card-subtitle>
            </mat-card-header>
            <mat-card-actions>
                <button mat-button>Learn More</button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="card" appearance="raised">
            <mat-card-header>
                <mat-card-title>Merengue</mat-card-title>
                <mat-card-subtitle>Latin</mat-card-subtitle>
            </mat-card-header>
            <mat-card-actions>
                <button mat-button>Learn More</button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="card" appearance="raised">
            <mat-card-header>
                <mat-card-title>Salsa</mat-card-title>
                <mat-card-subtitle>Latin</mat-card-subtitle>
            </mat-card-header>
            <mat-card-actions>
                <button mat-button>Learn More</button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="card" appearance="raised">
            <mat-card-header>
                <mat-card-title >Zouk</mat-card-title>
                <mat-card-subtitle>Latin</mat-card-subtitle>
            </mat-card-header>
            <mat-card-actions>
                <button mat-button>Learn More</button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>

</mat-grid-list>