
.card {
    display: flex;
    height: 300px;
    width: 300px;
    align-items: center;
    text-align: center;
   justify-content: center;
    
}

.title {
    color: white;
    font-size:xx-large;
    align-items: bottom;
}