<mat-grid-list cols="3" rowHeight="1:1">
    <mat-grid-tile>
        <mat-card class="card" appearance="raised">
            <mat-card-header>
                <mat-card-title class="title"> Bachata</mat-card-title>
                <mat-card-subtitle>Latin</mat-card-subtitle>
            </mat-card-header>
            <mat-card-actions>
                <button mat-button>Learn More</button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="card" appearance="raised">
            <mat-card-header>
                <mat-card-title class="title"> Cumbia</mat-card-title>
                <mat-card-subtitle>Latin</mat-card-subtitle>
            </mat-card-header>
            <mat-card-actions>
                <button mat-button>Learn More</button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="card" appearance="raised">
            <mat-card-header>
                <mat-card-title class="title">Kizomba</mat-card-title>
                <mat-card-subtitle>Latin</mat-card-subtitle>
            </mat-card-header>
            <mat-card-actions>
                <button mat-button>Learn More</button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="card" appearance="raised">
            <mat-card-header>
                <mat-card-title class="title">Merengue</mat-card-title>
                <mat-card-subtitle>Latin</mat-card-subtitle>
            </mat-card-header>
            <mat-card-actions>
                <button mat-button>Learn More</button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="card" appearance="raised">
            <mat-card-header>
                <mat-card-title class="title">Salsa</mat-card-title>
                <mat-card-subtitle>Latin</mat-card-subtitle>
            </mat-card-header>
            <mat-card-actions>
                <button mat-button>Learn More</button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="card" appearance="raised">
            <mat-card-header>
                <mat-card-title class="title">Zouk</mat-card-title>
                <mat-card-subtitle>Latin</mat-card-subtitle>
            </mat-card-header>
            <mat-card-actions align="start">
                <button mat-button>Learn More</button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>

</mat-grid-list>