<div class="header">
    <h1>Socials</h1>
</div>
<div class="container">
    <mat-grid-list cols="2">
        <mat-grid-tile>
            <mat-card class="card" appearance="raised">
                <img mat-card-image src="../../assets/images/BachataGenevaFestival.jpg" alt="Bachata Geneva Festival Poster">
                <mat-card-actions>
                    <button class="socialInfo" mat-button>More Info</button>
                </mat-card-actions>
            </mat-card>
        </mat-grid-tile>
           <mat-grid-tile>
            <mat-card class="card" appearance="raised">
                <img mat-card-image src="../../assets/images/BachataSpainWorldCongress.jpg" alt="Bachata Spain World Congress Poster">
                <mat-card-actions>
                    <button class="socialInfo" mat-button>More Info</button>
                </mat-card-actions>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>

</div>