.event {
    display: grid;
    grid-template-areas: 
    "ename when cover"
    "ename where parking";
    border: solid;
    border-width:  10px;
    height: 250px;
    width: 80%;
    margin: 10px;
    background-color: white;
}

h1 {
    width: 400px;
    grid-area: ename;
    margin-left: 15px;
    padding: 25px;
    color:white;
    background-color:  #003ab3;
    
}
h3 {
    padding: 25px;
    justify-content: left;
}

#when{
    grid-area: when;
}

#where {
    grid-area: where;
}

#cover{
    grid-area: cover;
}

#parking{
    grid-area: parking;
}

