<h1>Contact Us!</h1>
<div class="contactinfo">
  <h1>Dance Studio</h1>
  <h3>Parque Del Río</h3>
  <h3>Medellín, Antioquia, Colombia</h3>
  <h3>+57 999 999 9999</h3>
  <h5>teset</h5>
</div>

<google-map [center] = "center" >
 <map-marker *ngFor="let position of markerLatLong" [position]="position"></map-marker>
</google-map>
<div class="form">
<mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Status</mat-label>
    <mat-select>
      <mat-option value="one">Current Student</mat-option>
      <mat-option value="two">Prospective Student</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Message</mat-label>
    <textarea matInput></textarea>
  </mat-form-field>
</div>