<div class="header">
  <h1>Contact Us</h1>
</div>
<div class="container">
  <div class="content"> 
  <div class="contactinfo">
    <h1>Dance Studio</h1>
    <h3>Parques Del Río</h3>
    <h3>Medellín, Antioquia, Colombia</h3>
    <h3>+57 999 999 9999</h3>
  </div>

  <div class="map">
    <google-map [center]="center">
      <map-marker *ngFor="let position of markerLatLong" [position]="position"></map-marker>
    </google-map>
  </div>

</div>
<div class="form">
  <mat-form-field class="name">
    <mat-label>Name</mat-label>
    <input matInput>
  </mat-form-field>
  <mat-form-field class="status">
    <mat-label>Status</mat-label>
    <mat-select>
      <mat-option value="one">Current Student</mat-option>
      <mat-option value="two">Prospective Student</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="message">
    <mat-label>Message</mat-label>
    <textarea cdkTextareaAutosize matInput></textarea>
  </mat-form-field>
  <button class="submit" mat-raised-button>Send Message</button>
</div>

</div>