<div id="container">
    <div class="header">
        <h1>Class Schedule</h1>
    </div>
    <div class="container">
        <div class="col">
            <h3>Monday</h3>
            <mat-card class="class-card" appearance="outlined">
                <mat-card-header>
                  <mat-card-title>Bachata I</mat-card-title>
                  <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
                </mat-card-header>
                <mat-card-content>
                  <p>6:00pm</p>
                  <p>Instructor: </p>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-button>Register</button>
                  <!-- <button mat-button>Add to Calendar</button> -->
                </mat-card-actions>
              </mat-card>
              <mat-card class="class-card" appearance="outlined">
                <mat-card-header>
                  <mat-card-title>Bachata II</mat-card-title>
                  <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
                </mat-card-header>
                <mat-card-content>
                  <p>7:00pm</p>
                  <p>Instructor: </p>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-button>Register</button>
                  <!-- <button mat-button>Add to Calendar</button> -->
                </mat-card-actions>
              </mat-card>
              <mat-card class="class-card" appearance="outlined">
                <mat-card-header>
                  <!-- <div mat-card-avatar class="instructor-image"></div> -->
                  <mat-card-title>Bachata Footwork</mat-card-title>
                  <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
                </mat-card-header>
                <mat-card-content>
                  <p>8:00pm</p>
                  <p>Instructor: </p>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-button>Register</button>
                  <!-- <button mat-button>Add to Calendar</button> -->
                </mat-card-actions>
              </mat-card>
        </div>
        <div class="col">
            <h3>Tuesday</h3>
            <mat-card class="class-card" appearance="outlined">
                <mat-card-header>
                  <mat-card-title>Salsa I</mat-card-title>
                  <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
                </mat-card-header>
                <mat-card-content>
                  <p>6:00pm</p>
                  <p>Instructor: </p>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-button>Register</button>
                  <!-- <button mat-button>Add to Calendar</button> -->
                </mat-card-actions>
              </mat-card>   <mat-card class="class-card" appearance="outlined">
                <mat-card-header>
                  <mat-card-title>Salsa II</mat-card-title>
                  <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
                </mat-card-header>
                <mat-card-content>
                  <p>7:00pm</p>
                  <p>Instructor: </p>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-button>Register</button>
                  <!-- <button mat-button>Add to Calendar</button> -->
                </mat-card-actions>
              </mat-card>   <mat-card class="class-card" appearance="outlined">
                <mat-card-header>
                  <mat-card-title>Salsa Shines</mat-card-title>
                  <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
                </mat-card-header>
                <mat-card-content>
                  <p>8:00pm</p>
                  <p>Instructor: </p>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-button>Register</button>
                  <!-- <button mat-button>Add to Calendar</button> -->
                </mat-card-actions>
              </mat-card>
        </div>
        <div class="col">
            <h3>Wednesday</h3>
            <mat-card class="class-card" appearance="outlined">
                <mat-card-header>
                  <mat-card-title>Ladies Style</mat-card-title>
                  <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
                </mat-card-header>
                <mat-card-content>
                  <p>6:00pm</p>
                  <p>Instructor: </p>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-button>Register</button>
                  <!-- <button mat-button>Add to Calendar</button> -->
                </mat-card-actions>
              </mat-card>
              <mat-card class="class-card" appearance="outlined">
                <mat-card-header>
                  <mat-card-title>Bachata III</mat-card-title>
                  <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
                </mat-card-header>
                <mat-card-content>
                  <p>7:00pm</p>
                  <p>Instructor: </p>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-button>Register</button>
                  <!-- <button mat-button>Add to Calendar</button> -->
                </mat-card-actions>
              </mat-card>
              <mat-card class="class-card" appearance="outlined">
                <mat-card-header>
                  <mat-card-title>Mens Style</mat-card-title>
                  <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
                </mat-card-header>
                <mat-card-content>
                  <p>8:00pm</p>
                  <p>Instructor: </p>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-button>Register</button>
                  <!-- <button mat-button>Add to Calendar</button> -->
                </mat-card-actions>
              </mat-card>
        </div>
        <div class="col">
            <h3>Thursday</h3>
            <mat-card class="class-card" appearance="outlined">
                <mat-card-header>
                  <mat-card-title>Kizomba</mat-card-title>
                  <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
                </mat-card-header>
                <mat-card-content>
                  <p>6:00pm</p>
                  <p>Instructor: </p>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-button>Register</button>
                  <!-- <button mat-button>Add to Calendar</button> -->
                </mat-card-actions>
              </mat-card>
              <mat-card class="class-card" appearance="outlined">
                <mat-card-header>
                  <mat-card-title>Afrobeats</mat-card-title>
                  <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
                </mat-card-header>
                <mat-card-content>
                  <p>7:00pm</p>
                  <p>Instructor: </p>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-button>Register</button>
                  <!-- <button mat-button>Add to Calendar</button> -->
                </mat-card-actions>
              </mat-card>
              <mat-card class="class-card" appearance="outlined">
                <mat-card-header>
                  <mat-card-title>Reggaeton</mat-card-title>
                  <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
                </mat-card-header>
                <mat-card-content>
                  <p>8:00pm</p>
                  <p>Instructor: </p>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-button>Register</button>
                  <!-- <button mat-button>Add to Calendar</button> -->
                </mat-card-actions>
              </mat-card>
        </div>
        <div class="col">
            <h3>Friday</h3>
            <mat-card class="class-card" appearance="outlined">
                <mat-card-header>
                  <mat-card-title>Salsa Caleña</mat-card-title>
                  <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
                </mat-card-header>
                <mat-card-content>
                  <p>6:00pm</p>
                  <p>Instructor: </p>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-button>Register</button>
                  <!-- <button mat-button>Add to Calendar</button> -->
                </mat-card-actions>
              </mat-card>
              <mat-card class="class-card" appearance="outlined">
                <mat-card-header>
                  <mat-card-title>West Coast Swing</mat-card-title>
                  <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
                </mat-card-header>
                <mat-card-content>
                  <p>7:00pm</p>
                  <p>Instructor: </p>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-button>Register</button>
                  <!-- <button mat-button>Add to Calendar</button> -->
                </mat-card-actions>
              </mat-card>
              <mat-card class="class-card" appearance="outlined">
                <mat-card-header>
                  <mat-card-title>Contemporary</mat-card-title>
                  <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
                </mat-card-header>
                <mat-card-content>
                  <p>8:00pm</p>
                  <p>Instructor: </p>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-button>Register</button>
                  <!-- <button mat-button>Add to Calendar</button> -->
                </mat-card-actions>
              </mat-card>
        </div>
    </div>
</div>