h1 {
    text-align: center;
}


.intructor-title {
   height: fit-content;
}

.instructor-card{
    max-width: 400px;
    height: 550px;
    color: white;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: .5em;
}
