  .header{
    background-color: white;
    padding: 10px;
    margin-top: 30px;
    justify-items: center;
    margin-bottom: 20px;
}

.container {
    display: flex;
    margin: 20px;
    margin-top: 200px;
    justify-content: center;
}

.disclaimer {
    font-size: large;
}